.main{
	// border: 1px solid #000;
	background-color: $maincolor;
	color: #fff;
	// display: flex;
	height: 220rpx;
	position: relative;
}

.left{
	position: absolute; 
	left: 25rpx;
	top: 50rpx;
	text-align: center;
}

.middle{
	position: absolute;
	right: 34%;
	top:40%;
	font-size: 33rpx;
	font{
		margin-left: 15rpx;
		color: #fc5c7d;
		margin-right: 15rpx;
	}
}

.right{
	position: absolute;
	right: 25rpx;
	top: 50rpx;
	text-align: center;
}