.top{
	height: 260rpx;	
	// border: 1px solid #000;
	width: 100%;
	background-color: $maincolor;
	display: flex;
	justify-content: space-between;
	padding-left: 35rpx;
	padding-right: 35rpx;
	padding-top: 70rpx;
	.top_left{
		image{
			border-radius: 50%;
			width: 120rpx;
			height: 120rpx;
		}
		view{
			color: #fff;
		}
	}
	.top_middle{
		color: white;
		font-size: 32rpx;
	}
	.top_right{
		image{
			border-radius: 50%;
			width: 120rpx;
			height: 120rpx;
		}
		view{
			color: #fff;
		}
	}
}
.bottom{
	height: 150rpx;
	width: 100%;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	display: flex;
	padding-left: 25rpx;
	padding-top: 30rpx;
	.bottom_text{
		font-size: 35rpx;
		margin-top: 10rpx;
	}
	image{
		width: 45rpx;
		height: 45rpx;
		margin-top: 5rpx;
		margin-right: 15rpx;
		margin-top: 10rpx;
	}
	.bottom_price{
		// border: 1px solid #000;
		font-size: 37rpx;
		width: 300rpx;
		color: $maincolor;
		margin-top: 8rpx;
		text-align: left;
	}
	.bottom_btn{
		background-color: $maincolor;
		color: #fff;
		border-radius: 20rpx;
		text-align: center;
		line-height: 77rpx;
		height: 80rpx;
		width: 170rpx;
		margin-left: 8%;
	}
}
.main{
	// border: 1px solid #000;
	background-color: #f9f9f9;
	width: 100%;
	.main_item{
		display: flex;
		border-bottom: 1px solid #f1f1f1;
		padding-top: 8rpx;
		padding-bottom: 8rpx;
		image{
			width: 130rpx;
			height: 130rpx;
			border-radius: 20rpx;
			margin-left: 10rpx;
			margin-right: 40rpx;
		}
		.main_item_name{
			// border: 1px solid #000;
			width: 200rpx;
			.name{
				font-size: 32rpx;
				color: #000;
				margin-top: 10rpx;
				margin-bottom: 25rpx;
			}
			.num{
				color: $maincolor;
				font-size: 32rpx;
			}
		}
		.main_item_price{
			margin-left: 37%;
			margin-top: 70rpx;
			display: flex;
			image{
				// border: 1px solid #000;
				width: 35rpx;
				height: 35rpx;
				margin: 0;
				margin-right: 10rpx;
				margin-top: 2rpx;
			}
			view{
				// border: 1px solid #000;
				font-size: 30rpx;
				color: #000;
			}
		}
	}
	 .now_heart{
		// border: 1px solid #000;
		display: flex;
		height: 100rpx;
		padding-top: 24rpx;
		border-bottom: 1px solid #f1f1f1;
		 .text{
			 font-size: 35rpx;
			 color: #000;
			 font-weight: bold;
			 margin-right: 58%;
			 margin-left: 10rpx;
		 }
		 image{
			 width: 45rpx;
			 height: 45rpx;
			 margin-top: 3rpx;
			 margin-right: 10rpx;
		 }
		 .num{
			 font-size: 35rpx;
			 color: #000;
			 font-weight: bold;
		 }
	 }
	 .use_heart{
		 display: flex;
		 height: 100rpx;
		 padding-top: 24rpx;
		 border-bottom: 1px solid #f1f1f1;
		 .text{
		 	font-size: 35rpx;
		 	color: #000;
		 	font-weight: bold;
		 	margin-right: 67.2%;
		 	margin-left: 10rpx;		 
		 }
		 image{
		 	width: 45rpx;
		 	height: 45rpx;
		 	margin-top: 3rpx;
		 	margin-right: 10rpx;	 
		 }
		 .num{
		 	font-size: 35rpx;
		 	color: #000;
		 	font-weight: bold;		 
		 }
	 }
	.love_word{
		height: 100rpx;
		display: flex;
		padding-top: 20rpx;
		border-bottom: 1px solid #f1f1f1;
		.title{
			border-left: 3px solid $maincolor;
			font-size: 33rpx;
			height: 60rpx;
			margin-left: 15rpx;
			padding-left: 20rpx;
			line-height: 55rpx;
			margin-right: 5%;
		}
		input{
			height: 60rpx;
			width: 70%;
		}
	}
	.love_notes{
		display: flex;
		height: 80rpx;
		padding-top: 10rpx;
		.title{
			font-size: 33rpx;
			height: 60rpx;
			margin-left: 15rpx;
			padding-left: 20rpx;
			line-height: 55rpx;
			margin-right: 5%;
		}
		input{
			height: 60rpx;
			width: 70%;
		}
	}
}