.content{
	
}
.top{
	height: 350rpx;
	background-color: #ffc0cb;
}

.mid{
	// border: 1px solid #000; 
	background-color: #fff;
	height: 400rpx;
	width: 90%;
	margin-left: 5%;
	margin-top: -100rpx;
	border-radius: 30rpx;
	box-shadow: 0 0 7px #ffc0cb;
}